* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all, 0.3s ease;
}
.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
header {
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
header .scrolldown {
  position: absolute;
  font-size: 30px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
header .scrolldown a {
  width: 16px;
  height: 16px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(313deg);
  display: inline-block;
}
header .scrolldown a:hover {
  opacity: 0.7;
}
header nav {
  text-transform: uppercase;
  position: absolute;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: background 0.5s ease;
}
header nav.sticky {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: #6e774a;
  position: fixed;
  top: 0;
  width: 100%;
}
header nav.sticky + main {
  padding-top: 60px;
}
header nav.sticky .navblock .user-action .action_link::after,
header nav.sticky::after {
  background-color: #6e774a;
}
header nav.sticky .action_link a:hover {
  border-color: #6e774a !important;
}
header nav .nav-burger {
  display: none;
}
header nav::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.4;
  bottom: 0;
  left: 0;
  z-index: 100;
  position: absolute;
}
header nav .navblock.logo-brand {
  text-align: center;
  padding: 30px 0;
  transform: translateX(-140%);
  margin: 0 auto;
}
header nav .navblock:last-of-type {
  margin-left: 130px;
}
header nav .navblock ul {
  display: flex;
}
header nav .navblock ul .main_link {
  margin: 0 20px;
  padding: 30px 0;
}
header nav .navblock ul .main_link:first-of-type {
  margin-left: 50px;
}
header nav .navblock ul .main_link a {
  position: relative;
  padding: 0 10px;
}
header nav .navblock ul .main_link a::after {
  content: '';
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 2px;
  background-color: #9db892;
  top: 50%;
  left: 0;
  opacity: 0;
  transition: all, 0.5s ease;
}
header nav .navblock ul .main_link a.active::after,
header nav .navblock ul .main_link a:hover::after,
header nav .navblock ul .main_link a:focus::after {
  opacity: 1;
}
header nav .navblock ul .action_link {
  padding: 33px 30px;
  position: relative;
}
header nav .navblock ul .action_link.link-cart {
  padding-right: 0;
  width: 112px;
}
header nav .navblock ul .action_link i {
  padding-right: 10px;
}
header nav .navblock ul .action_link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  z-index: 100;
  background-color: #ffffff;
  opacity: 0.4;
}
header nav .navblock ul .action_link a {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}
header nav .navblock ul .action_link a:hover {
  border-color: #ffffff;
}
header nav .navblock .logo-link {
  font-size: 30px;
  text-align: center;
  line-height: 0.8;
}
header .intro {
  height: 100vh;
  width: 100vw;
  background: #abcbe2 url(../img/first.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: right;
  position: relative;
}
header .intro .container {
  padding-top: 235px;
}
header .intro_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60%;
  margin-left: auto;
}
header .intro_wrap .title {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 15px;
  word-spacing: 5px;
  line-height: 74px;
  margin-right: -15px;
  padding-bottom: 27px;
  text-shadow: 2px 0px 19px rgba(0, 0, 0, 0.5);
}
header .intro_wrap .subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 0.8;
  letter-spacing: 6px;
  word-spacing: 4px;
  margin-right: -4px;
}
header .intro_wrap .btn-shopping {
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid #9db892;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 20px 84px 20px 39px;
  text-align: left;
  margin: 60px 0 29px auto;
  transition: background 0.5s ease;
  color: #ffffff;
}
header .intro_wrap .btn-shopping .start {
  padding-right: 18px;
  transition: all, 0.5s ease;
}
header .intro_wrap .btn-shopping .btnline {
  position: absolute;
  width: 45px;
  right: 35px;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  transition: all, 0.5s ease;
}
header .intro_wrap .btn-shopping .btnline:before,
header .intro_wrap .btn-shopping .btnline::after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  height: 13px;
  width: 2px;
  opacity: 0;
  right: 0;
  transition: all, 0.5s ease;
}
header .intro_wrap .btn-shopping .btnline::before {
  bottom: 0;
}
header .intro_wrap .btn-shopping .btnline::after {
  top: 0;
}
header .intro_wrap .btn-shopping:hover,
header .intro_wrap .btn-shopping:focus {
  background: rgba(0, 0, 0, 0.3);
}
header .intro_wrap .btn-shopping:hover .btnline,
header .intro_wrap .btn-shopping:focus .btnline {
  transform: translateX(10px);
}
header .intro_wrap .btn-shopping:hover .btnline::before,
header .intro_wrap .btn-shopping:focus .btnline::before,
header .intro_wrap .btn-shopping:hover .btnline::after,
header .intro_wrap .btn-shopping:focus .btnline::after {
  opacity: 1;
}
header .intro_wrap .btn-shopping:hover .btnline::before,
header .intro_wrap .btn-shopping:focus .btnline::before {
  bottom: -2px;
  right: 2px;
  transform: rotate(-45deg);
}
header .intro_wrap .btn-shopping:hover .btnline::after,
header .intro_wrap .btn-shopping:focus .btnline::after {
  top: -2px;
  right: 2px;
  transform: rotate(45deg);
}
header .intro_wrap .link-all {
  font-size: 18px;
  font-weight: 300;
  line-height: 0.8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  margin-left: auto;
}
header .intro_wrap .link-all i {
  font-size: 14px;
}
header .intro_wrap .link-all:hover {
  border-color: #ffffff;
}
header::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #6e774a;
  height: 4px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
header:hover::before,
header:focus::before,
header:active::before {
  right: 0;
}
header .slogan {
  text-align: left;
  margin-top: 55px;
  font-size: 26px;
  text-transform: uppercase;
  position: absolute;
  left: -6%;
  display: flex;
  transform: rotate(270deg);
  bottom: 170px;
}
header .slogan span {
  width: 100px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
}
header .slogan p {
  margin-left: 130px;
  letter-spacing: 3px;
}
.benefits {
  padding-top: 100px;
}
.benefits .frame {
  width: 90%;
  max-width: 690px;
  height: 200px;
  margin: 0 auto;
  background: url(../img/frame.png) no-repeat;
  background-size: contain;
  padding: 55px 80px 30px;
}
.benefits .frame h2 {
  text-transform: uppercase;
  color: #1c1c1b;
  text-align: center;
  padding-bottom: 25px;
  line-height: 0.8;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5px;
}
.benefits .frame_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.benefits .frame_wrap .imgleft,
.benefits .frame_wrap .imgright {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits .frame_wrap .imgleft {
  margin-right: 50px;
}
.benefits .tabs_wrap {
  margin-top: 120px;
  margin-left: auto;
  width: 90%;
  max-width: 1170px;
  overflow: hidden;
}
.benefits .tabs_wrap #tabs {
  display: flex;
  text-transform: uppercase;
  font-size: 30px;
  color: #1c1c1b;
  letter-spacing: 5px;
  border-bottom: 1px solid #ced6af;
  max-width: 971px;
  width: 90%;
}
.benefits .tabs_wrap #tabs li {
  cursor: pointer;
  line-height: 0.8;
  padding-bottom: 25px;
  transition: all, 0.3s ease;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.benefits .tabs_wrap #tabs li::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #1c1c1b;
  height: 1px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.benefits .tabs_wrap #tabs li:nth-of-type(2) {
  padding: 0 110px 0 96px;
}
.benefits .tabs_wrap #tabs li:hover::before,
.benefits .tabs_wrap #tabs li.active::before {
  right: 0;
}
.benefits .tabs_wrap .content_wrap {
  display: none;
  padding: 80px 0;
  color: #6e774a;
  font-size: 18px;
}
.benefits .tabs_wrap .content_wrap.current {
  display: flex;
}
.benefits .tabs_wrap .content_wrap h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 42px;
  padding: 0 120px 26px 0;
  color: #1c1c1b;
}
.benefits .tabs_wrap .content_wrap .inner_wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-right: 150px;
}
.benefits .tabs_wrap .content_wrap .inner_wrap .text,
.benefits .tabs_wrap .content_wrap .inner_wrap .tabimg {
  flex-direction: column;
}
.benefits .tabs_wrap .content_wrap .inner_wrap .text {
  width: 40%;
  padding: 30px 0 0 0;
}
.benefits .tabs_wrap .content_wrap .inner_wrap .text p {
  line-height: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 40px;
  font-weight: 300;
}
.benefits .tabs_wrap .content_wrap .inner_wrap .text p:last-of-type {
  padding-bottom: 0;
}
.benefits .tabs_wrap .content_wrap .inner_wrap .tabimg {
  width: calc(60% - 100px);
  margin-left: 100px;
}
.benefits .tabs_wrap .content_wrap .inner_wrap img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.benefits .tabs_wrap .content_wrap .inner_wrap img:first-of-type {
  margin-bottom: 30px;
}
section h2 {
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
section#products {
  padding: 86px 0 50px;
  text-align: center;
  color: #1c1c1b;
  text-transform: uppercase;
}
section#products .prod_controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#products .prod_controls #prevprod {
  margin-right: 58px;
}
section#products .prod_controls #prevprod:hover,
section#products .prod_controls #nextprod:hover {
  opacity: 0.5;
}
section#products .prod_controls #prevprod:hover {
  transform: translateX(-10px);
}
section#products .prod_controls #nextprod:hover {
  transform: translateX(10px);
}
section#products h2 {
  font-size: 30px;
  letter-spacing: 6px;
  word-spacing: 5px;
  margin-bottom: 72px;
}
section#products #products_list {
  display: flex;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
  flex-wrap: nowrap;
  margin-bottom: 60px;
}
section#products #products_list li {
  background-color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#products #products_list li .item_wrap {
  padding: 40px 0 30px;
  border: 1px solid #ced6af;
  height: 100%;
}
section#products #products_list li .item_wrap .rating {
  color: #6e774a;
}
section#products #products_list li .item_wrap .prod_itemlink {
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 0.8;
  margin: 20px 0 40px;
  display: inline-block;
  transition: all, 0.5s ease;
}
section#products #products_list li .item_wrap .prod_itemlink:hover,
section#products #products_list li .item_wrap .prod_itemlink:focus,
section#products #products_list li .item_wrap .prod_itemlink:active {
  color: #6e774a;
}
section#products #products_list li .action {
  display: flex;
  flex-wrap: nowrap;
}
section#products #products_list li .action .price {
  width: 60%;
  padding: 25px 40px 25px 30px;
  text-align: left;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
section#products #products_list li .action .to-cart {
  width: 40%;
  padding: 22px 40px 22px 30px;
  background-color: #6e774a;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  text-align: left;
  letter-spacing: 1px;
}
section#products #products_list li .action .to-cart .btnline {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transition: all, 0.5s ease;
}
section#products #products_list li .action .to-cart:hover {
  background-color: #4d691d;
}
section#products #products_list li .action .to-cart:hover .btnline {
  transform: translateX(10px);
}
section#faq {
  padding: 85px 160px;
  height: 100vh;
}
section#faq h2 {
  margin-bottom: 50px;
}
section#faq .accordion_wrap {
  width: 90%;
  max-width: 566px;
  margin: 0 auto;
  border-top: 1px solid #6e774a;
  overflow: hidden;
}
section#faq .accordion_wrap .faq_item .answer {
  padding: 17px 0 41px 40px;
  color: #1c1c1b;
  border-bottom: 1px solid #6e774a;
}
section#faq .accordion_wrap .faq_item .answer p {
  line-height: 40px;
}
section#faq .accordion_wrap .faq_item .title_tab {
  transition: all, 0.5s ease;
}
section#faq .accordion_wrap .faq_item .title_tab:hover .question {
  color: #1c1c1b;
}
section#faq .accordion_wrap .faq_item .title_tab:hover .plusline::before,
section#faq .accordion_wrap .faq_item .title_tab:hover .plusline::after {
  background-color: #1c1c1b;
}
section#faq .accordion_wrap .faq_item .title_tab.active .plusline::after {
  transform: rotate(270deg);
  transition: all, 0.5s ease;
}
section#faq .accordion_wrap .faq_item .title_tab.active .question {
  border-bottom-color: transparent;
  transition: all, 0.5s ease;
}
section#faq .accordion_wrap .faq_item .title_tab .question {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 4px;
  color: #6e774a;
  word-spacing: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 25px 0;
  border-bottom: 1px solid #6e774a;
  transition: all, 0.5s ease;
}
section#faq .accordion_wrap .faq_item .title_tab .question .plusline {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
section#faq .accordion_wrap .faq_item .title_tab .question .plusline::before,
section#faq .accordion_wrap .faq_item .title_tab .question .plusline::after {
  content: '';
  position: absolute;
  background-color: #6e774a;
}
section#faq .accordion_wrap .faq_item .title_tab .question .plusline::before {
  top: 50%;
  left: 0;
  width: 20px;
  height: 1px;
}
section#faq .accordion_wrap .faq_item .title_tab .question .plusline::after {
  height: 20px;
  width: 1px;
  top: 0;
  left: 50%;
  transition: all, 0.5s ease;
}
.review_wrap {
  background: url(../img/review.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 260px 0 310px;
  text-align: center;
  color: #ffffff;
}
.review_wrap .slogan2 {
  position: absolute;
  bottom: 140px;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 6px;
  left: -2%;
  font-size: 24px;
  font-weight: 300;
}
.review_wrap #review li {
  height: 215px;
}
.review_wrap #review li .author {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
}
.review_wrap #review li .author span {
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  margin-right: 20px;
}
.review_wrap #review blockquote {
  font-size: 22px;
  letter-spacing: 4px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 780px;
  width: 90%;
  word-spacing: 5px;
  margin: 0 auto;
  font-weight: 300;
  padding: 27px 0;
}
.review_wrap #review .slider-stars i {
  color: #aab384;
  padding: 0 1px;
}
.review_wrap #review .slider-stars i.empty {
  color: #797c6d;
}
.review_wrap .slidernav_wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.review_wrap .slidernav_wrap .slidernav {
  color: #ffffff;
  padding: 42px 45px 27px;
  display: inline-block;
  bottom: 0;
  border: 1px solid #ffffff;
}
.review_wrap .slidernav_wrap .slidernav i {
  display: inline-block;
  font-size: 18px;
  transition: all, 0.3s ease;
}
.review_wrap .slidernav_wrap .slidernav.prevslide {
  border-right: none;
}
.review_wrap .slidernav_wrap .slidernav.prevslide:hover i {
  transform: translateX(-10px);
}
.review_wrap .slidernav_wrap .slidernav.nextslide:hover i {
  transform: translateX(10px);
}
.review_wrap .overlay {
  background-color: rgba(110, 114, 95, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  padding: 177px 0 60px;
  text-transform: uppercase;
}
footer .footer_wrap {
  display: flex;
  flex-wrap: nowrap;
}
footer .footer_wrap .block {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  color: #6e774a;
}
footer .footer_wrap .block.navleft,
footer .footer_wrap .block.navright {
  border-top: 2px solid #6e774a;
  padding-top: 96px;
  margin-top: 22px;
}
footer .footer_wrap .block.navcenter {
  width: calc((100% / 3) + 57px);
  position: relative;
  margin-bottom: 10px;
}
footer .footer_wrap .block.navcenter .brand {
  font-size: 60px;
  line-height: 0.8;
  padding-bottom: 62px;
}
footer .footer_wrap .block.navcenter .socials {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
footer .footer_wrap .block.navcenter .socials li {
  margin: 0 15px;
  font-size: 18px;
  width: calc((100% / 3) - 30px);
}
footer .footer_wrap .block.navcenter .socials li a {
  transition: all, 0.5s ease;
}
footer .footer_wrap .block.navcenter .socials li a:hover,
footer .footer_wrap .block.navcenter .socials li a:focus {
  opacity: 0.6;
}
footer .footer_wrap .block.navcenter .footer-line {
  height: 55px;
  width: 2px;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #6e774a;
}
footer .footer_wrap .block ul:not(.socials) li {
  margin-bottom: 15px;
  letter-spacing: 3px;
  word-spacing: 1px;
  position: relative;
}
footer .footer_wrap .block ul:not(.socials) li a {
  position: relative;
  padding: 0 15px;
}
footer .footer_wrap .block ul:not(.socials) li a::before,
footer .footer_wrap .block ul:not(.socials) li a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}
footer .footer_wrap .block ul:not(.socials) li a::before {
  margin-right: 7px;
  content: '[';
  transform: translateX(20px);
}
footer .footer_wrap .block ul:not(.socials) li a::after {
  margin-left: 7px;
  content: ']';
  transform: translateX(-20px);
}
footer .footer_wrap .block ul:not(.socials) li a:hover:after,
footer .footer_wrap .block ul:not(.socials) li a:focus:after,
footer .footer_wrap .block ul:not(.socials) li a:hover:before,
footer .footer_wrap .block ul:not(.socials) li a:focus:before {
  opacity: 1;
  transform: translateX(0px);
}
footer .subscribe {
  font-size: 18px;
  text-align: center;
  color: #1c1c1b;
  line-height: 0.8;
  letter-spacing: 3px;
  word-spacing: 0px;
  padding: 19px 0 30px;
}
footer form {
  display: flex;
  justify-content: center;
  max-width: 370px;
  width: 90%;
  margin: 0 auto;
}
footer form input {
  background-color: transparent;
  border: 2px solid #ced6af;
  border-right: none;
  padding: 17px 30px;
  width: 80%;
  font-size: 16px;
  color: #6e774a;
  font-family: 'Oswald';
  transition: all, 0.5s ease;
}
footer form input::-webkit-input-placeholder {
  font-size: 16px;
  color: #6e774a;
  letter-spacing: 4px;
  font-family: 'Oswald';
}
footer form input::-moz-placeholder {
  font-size: 16px;
  color: #6e774a;
  letter-spacing: 4px;
  font-family: 'Oswald';
}
footer form input:-ms-input-placeholder {
  font-size: 16px;
  color: #6e774a;
  letter-spacing: 4px;
  font-family: 'Oswald';
}
footer form input::-ms-input-placeholder {
  font-size: 16px;
  color: #6e774a;
  letter-spacing: 4px;
  font-family: 'Oswald';
}
footer form input::placeholder {
  font-size: 16px;
  color: #6e774a;
  letter-spacing: 4px;
  font-family: 'Oswald';
}
footer form input:focus {
  border-left-color: #6e774a;
}
footer form button {
  background-color: transparent;
  border: 2px solid #ced6af;
  border-left: transparent;
  padding: 22px 30px;
  position: relative;
  cursor: pointer;
  color: #ced6af;
  transition: all, 0.5s ease;
}
footer form button i {
  display: block;
  transition: all, 0.5s ease;
}
footer form button::before {
  content: '';
  height: calc(100% - 8px);
  width: 2px;
  position: absolute;
  background-color: #ced6af;
  left: 0;
  transition: all, 0.5s ease;
  top: 50%;
  transform: translateY(-50%);
}
footer form button:hover,
footer form button:focus {
  background-color: #6e774a;
  border-color: #6e774a;
}
footer form button:hover::before,
footer form button:focus::before {
  background-color: #6e774a;
}
footer form button:hover i,
footer form button:focus i {
  transform: translateX(10px);
}
footer .copy {
  color: #6e774a;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  padding-top: 59px;
  letter-spacing: 3px;
  word-spacing: 1px;
}
.answer {
  display: none;
}
.swal2-close {
  transition: all, 0.5s ease;
}
.swal2-close:hover,
.swal2-close:focus {
  color: #6e774a !important;
}
#search_form {
  padding: 80px 50px;
  display: flex;
  flex-wrap: nowrap;
}
#search_form input {
  background-color: transparent;
  border: 2px solid #ced6af;
  border-right: none;
  padding: 15px 20px;
  width: 80%;
  font-family: 'Oswald';
  font-size: 18px;
  color: #1c1c1b;
  letter-spacing: 1px;
}
#search_form input:focus {
  border-left-color: #6e774a;
}
#search_form button {
  background-color: #ced6af;
  color: #ffffff;
  font-size: 18px;
  width: 20%;
  border: none;
  cursor: pointer;
  transition: all, 0.5s ease;
}
#search_form button:hover,
#search_form button:focus {
  background-color: #6e774a;
  color: #ced6af;
}
#login_form {
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login_form input {
  width: 100%;
  margin: 15px 0;
  background-color: transparent;
  font-family: 'Oswald';
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ced6af;
}
#login_form input:focus {
  border-left-color: #6e774a;
}
#login_form button {
  width: 50%;
  background-color: #ced6af;
  color: #6e774a;
  border: none;
  padding: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Oswald';
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all, 0.3s ease;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  display: inline-block;
}
#login_form button::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #6e774a;
  height: 4px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
#login_form button:hover::before,
#login_form button:focus::before,
#login_form button:active::before {
  right: 0;
}
.signup {
  font-size: 14px;
  color: #c1c1c1;
}
.signup:hover,
.signup:focus,
.signup:active {
  color: #6e774a;
  text-decoration: underline;
}
.swal2-container.swal2-center.swal2-backdrop-show {
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(271deg, #ffffff 0%, #53803e 100%);
}
@media screen and (max-width: 1200px) {
  header .intro {
    background: #abcbe2 url(../img/first-1200.jpg) no-repeat;
    background-size: cover;
  }
  header .intro .intro_wrap .title {
    font-size: 45px;
  }
  header .intro .container {
    padding-top: 180px;
  }
  .benefits .tabs_wrap #tabs li:nth-of-type(2) {
    padding: 0 90px 0 76px;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .text p {
    line-height: 30px;
  }
  section#faq {
    padding: 50px 160px;
    height: 100vh;
  }
  section#products #products_list li .action .to-cart .btnline {
    width: 30px;
    left: 55%;
  }
  section#products #products_list li .item_wrap {
    padding: 40px 30px 30px;
  }
  section#products #products_list li .item_wrap .prod_itemlink {
    font-size: 16px;
    line-height: 22px;
  }
  .review_wrap {
    background: url(../img/review-1200.jpg) no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  header .intro_wrap .title {
    line-height: 60px;
    word-spacing: 3px;
    letter-spacing: 10px;
  }
  header nav .navblock .logo-link {
    display: none;
  }
  .benefits .tabs_wrap .content_wrap h2 {
    padding: 0;
    padding-bottom: 30px;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap {
    align-items: center;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .text p {
    padding-bottom: 20px;
  }
  footer {
    padding: 100px 0 60px;
  }
  section#products #products_list li .action .price,
  section#products #products_list li .action .to-cart {
    width: 50%;
  }
}
@media screen and (max-width: 968px) {
  .benefits .tabs_wrap #tabs {
    font-size: 24px;
  }
  section#faq .accordion_wrap .faq_item .answer p {
    line-height: 26px;
  }
  .review_wrap #review blockquote {
    font-size: 20px;
  }
  footer {
    padding: 60px 0 40px;
  }
  footer .footer_wrap .block.navcenter {
    width: calc((100% / 3) - 100px);
    margin: 0 50px 10px;
  }
  section#faq h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  section#products #products_list li .action {
    flex-wrap: wrap;
  }
  section#products #products_list li .action .price,
  section#products #products_list li .action .to-cart {
    width: 100%;
    text-align: center;
  }
  section#products #products_list li .action .to-cart .btnline {
    left: 70%;
  }
}
@media screen and (max-width: 868px) {
  header nav .navblock ul .main_link {
    margin: 0 10px;
    padding: 30px 0;
  }
  .benefits .tabs_wrap #tabs {
    font-size: 18px;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap {
    margin-right: 80px;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .text {
    width: 60%;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .tabimg {
    width: calc(40% - 50px);
    margin-left: 50px;
  }
  section#faq {
    height: 100%;
  }
  footer .footer_wrap {
    flex-wrap: wrap;
  }
  footer .footer_wrap .block ul:not(.socials) li {
    font-size: 14px;
  }
  footer .footer_wrap .block.navleft {
    width: 50%;
    text-align: left;
  }
  footer .footer_wrap .block.navright {
    text-align: right;
    width: 50%;
  }
  footer .footer_wrap .block.navcenter {
    order: 3;
    width: 100%;
  }
  footer .footer_wrap .block.navcenter .footer-line {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .burger-wrap .nav-burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 110;
    top: 0;
    right: 30px;
    margin-left: auto;
  }
  .burger-wrap .nav-burger.active_on_touch::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .burger-wrap .nav-burger.active_on_touch::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger-wrap .nav-burger.active_on_touch span {
    transform: scale(0);
  }
  .burger-wrap .nav-burger::before,
  .burger-wrap .nav-burger::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-wrap .nav-burger::before {
    top: 0;
  }
  .burger-wrap .nav-burger::after {
    bottom: 0;
  }
  .burger-wrap .nav-burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  header #nav .navblock ul .action_link::after {
    display: none;
  }
  header #nav .navblock ul .main_link:first-of-type {
    margin-left: 10px;
  }
  header #nav .main-nav,
  header #nav .user-action {
    display: none;
  }
  header #nav.sticky {
    color: #ffffff;
  }
  header #nav.sticky .burger-wrap .nav-burger::before,
  header #nav.sticky .burger-wrap .nav-burger::after,
  header #nav.sticky .burger-wrap .nav-burger span {
    background-color: #6e774a !important;
  }
  header #nav.active_on_touch {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header #nav.active_on_touch .burger-wrap .nav-burger::before,
  header #nav.active_on_touch .burger-wrap .nav-burger::after,
  header #nav.active_on_touch .burger-wrap .nav-burger span {
    background-color: #ffffff !important;
  }
  header #nav.active_on_touch .main-nav,
  header #nav.active_on_touch .user-action {
    display: block;
  }
  header #nav.active_on_touch .user-action {
    text-align: right;
  }
  header #nav.active_on_touch .burger-wrap .nav-burger {
    top: -140px;
  }
  header nav .navblock ul .action_link.link-cart {
    margin-left: -9px;
  }
  header .slogan {
    left: -15%;
  }
  header .intro_wrap .title {
    line-height: 40px;
    font-size: 36px !important;
    letter-spacing: 5px;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap {
    flex-wrap: wrap;
    margin: 0;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .text,
  .benefits .tabs_wrap .content_wrap .inner_wrap .tabimg {
    width: 100%;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .text {
    text-align: justify;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .text h2 {
    text-align: center;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .tabimg {
    margin: 30px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .tabimg img {
    width: calc(50% - 10px);
    margin: 0;
  }
  .benefits .tabs_wrap {
    margin: 120px auto 0;
    width: 90%;
    max-width: 1170px;
    overflow: hidden;
  }
  .benefits .tabs_wrap #tabs li {
    padding: 0 0 15px;
    text-align: center;
    line-height: 20px;
  }
  .benefits .tabs_wrap #tabs {
    margin: 0 auto;
    justify-content: space-between;
  }
  .review_wrap .slogan2 {
    left: -10%;
  }
  header .intro_wrap .subtitle {
    font-size: 16px;
  }
  header .intro_wrap {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  header .intro_wrap .btn-shopping {
    margin: 30px auto 40px;
  }
  header .intro_wrap .link-all {
    margin: 0 auto;
  }
  footer .footer_wrap .block.navcenter .socials {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  footer .footer_wrap .block.navcenter .brand {
    font-size: 48px;
    padding-bottom: 30px;
  }
  section#faq {
    padding: 50px 70px;
  }
}
@media screen and (max-width: 668px) {
  header .slogan {
    left: -20%;
    font-size: 18px;
    bottom: 145px;
  }
  .benefits .frame {
    background: none;
    padding: 55px 30px 30px;
    border: 10px solid #9db892;
  }
  .benefits .tabs_wrap {
    margin: 60px auto 0;
  }
  section#products {
    padding: 50px 0;
  }
  .review_wrap {
    background-position: bottom;
  }
  .review_wrap #review blockquote {
    font-size: 16px;
    padding-bottom: 0;
  }
  .review_wrap #review li .author {
    font-size: 18px;
  }
}
@media screen and (max-width: 570px) {
  header nav .navblock ul .action_link {
    padding: 33px 0;
  }
  section#products #products_list li .action {
    flex-wrap: nowrap;
  }
  section#products #products_list li .action .price,
  section#products #products_list li .action .to-cart {
    width: 50%;
    text-align: left;
  }
  .review_wrap .slidernav_wrap .slidernav {
    padding: 22px 25px 17px;
  }
  .review_wrap .slogan2 {
    font-size: 14px;
  }
  .review_wrap {
    padding: 150px 0;
  }
  .benefits .tabs_wrap .content_wrap {
    padding-top: 30px;
  }
  footer .footer_wrap .block.navleft,
  footer .footer_wrap .block.navright {
    width: 100%;
    text-align: center;
    padding-top: 0;
    border-top: none;
    margin: 0;
  }
  footer .footer_wrap .block ul:not(.socials) li {
    margin-bottom: 10px;
  }
  .benefits .tabs_wrap #tabs {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .benefits .tabs_wrap #tabs li {
    width: 100%;
    padding: 0;
    margin: 15px 0;
    font-size: 18px;
  }
  .benefits .tabs_wrap #tabs li.active,
  .benefits .tabs_wrap #tabs li:hover {
    border-left: 3px solid #ced6af;
    border-right: 3px solid #ced6af;
  }
  .benefits .tabs_wrap #tabs li::before {
    display: none;
  }
  .benefits .frame {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .benefits .frame_wrap img {
    margin: 0 15px;
  }
  .benefits .frame_wrap {
    flex-direction: column;
  }
  .benefits .frame_wrap .imgleft {
    margin: 0 0 15px;
  }
  .benefits .frame_wrap .imgleft,
  .benefits .frame_wrap .imgright {
    justify-content: center;
  }
  .benefits .frame_wrap .imgleft img,
  .benefits .frame_wrap .imgright img {
    margin: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  header .slogan {
    left: -30%;
    opacity: 0.7;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .tabimg {
    flex-wrap: wrap;
  }
  .benefits .tabs_wrap .content_wrap .inner_wrap .tabimg img {
    width: 100%;
    margin: 0;
  }
  section#faq {
    padding: 30px 15px;
  }
  .review_wrap #review blockquote {
    font-size: 14px;
    letter-spacing: 3px;
    word-spacing: 4px;
    padding: 15px 0 0;
  }
}
@media screen and (max-width: 420px) {
  header .slogan,
  .review_wrap .slogan2 {
    display: none;
  }
  h2 {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 360px) {
  header .intro_wrap .title {
    font-size: 26px !important;
  }
  header .intro .container {
    padding-top: 100px;
  }
  header .intro_wrap .subtitle {
    font-size: 14px;
    line-height: 18px;
    padding: 0px 25px;
  }
  .benefits .frame_wrap .imgleft img,
  .benefits .frame_wrap .imgright img {
    margin: 0 10px;
  }
  .benefits .frame h2 {
    font-size: 14px !important;
  }
  section#products h2 {
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  footer .footer_wrap .block.navcenter .brand {
    font-size: 24px;
    padding: 20px 0;
  }
  section#faq .accordion_wrap .faq_item .title_tab .question {
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 15px 0;
  }
  section#faq .accordion_wrap .faq_item .answer {
    padding: 10px 0 21px 20px;
    font-size: 14px;
  }
}
